#nav-overlay{
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
}

.nav-open #nav-overlay{
  opacity: 1;
  visibility: visible;
}

#nav-main {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}

.nav-open #nav-main {
  visibility: visible;
  opacity: 1;
}

.nav-item {
  width: 10em;
  height: 1.4em;
  background-color: #CCCCCC;
  margin: 1em auto;
  font-size: 2em;
  font-variant: small-caps;
  text-align: center;
  cursor: pointer;
}
