#contact{
  width: 100%;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  color:inherit;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}

.social-link{
  color: #CCCCCC;
  text-decoration: inherit;
  margin: 0 auto;
}
