#latest-release{
  width: 100%;
  min-height: 100vh;
  /*padding: 6em 0;*/
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  color: #CCCCCC;
}

.release-wrapper{
  display: inherit;
  margin: 6em auto;
  /*height: 100vh;*/
}

.album-art{
  width: 50vw;
  height: 50vw;
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/TheMachine.png");
}

.release-desc{
  margin-left: 1em;
  align-content: center;
  display: grid;
}

.release-title{
  font-size: 2em;
  margin-bottom: 0.3em;
}

.release-subtitle{
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.icon-wrapper{
  width: 1em;
}

.release-links{
  font-size: 1.2em;
}

.release-link{
  cursor: pointer;
  display: flex;
  margin-bottom: 0.2em;
  color: inherit;
  text-decoration: none;
}

.release-link-title{
  margin-left: 1em;
}

.release-link-divider{
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: .2em;
}

@media(max-width: 768px){
  #latest-release{
    max-height: 100vh;
  }
  .release-wrapper{
    display: inline-flex;
    flex-direction: column;
  }
  .album-art{
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
  }
  .release-desc{
    font-size: 4vw;
    margin-top: 2em;
    margin-left: 0;
  }
}
