#latest-release{
  width: 100%;
  height: 100vh;
  /*padding: 6em 0;*/
  display: inline-flex;
  color: #CCCCCC;
}

.release-wrapper{
  display: inherit;
  margin: 0 auto;
  margin-top: 6em;
}

.album-art{
  width: 50vw;
  height: 50vw;
  max-width: 600px;
  max-height: 600px;
  /*margin-right: 1em;*/
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/TheMachine.png");
}

.release-desc{
  margin-left: 1em;
  align-content: center;
  display: grid;
}

.release-title{
  font-size: 2em;
  margin-bottom: 0.3em;
}

.release-subtitle{
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.release-links{
  font-size: 1.2em;
}

.release-link{
  cursor: pointer;
  display: flex;
  margin-bottom: 0.2em;
}

.release-link-title{
  margin-left: 1em;
}

.release-link-divider{
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: .2em;
}

@media(max-width: 768px){
  .release-wrapper{
    display: block;
  }
  .album-art{
    width: 70vw;
    height: 70vw;
  }
  .release-desc{
    font-size: 4vw;
    margin-left: 0;
  }
}
